@import "../abstracts/variables";

.button_container {
  box-sizing: border-box;
  border-radius: 100px;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
  font-weight: 500;
  background: $color-main;
  color: white;
  padding: 1rem;
  @include shadow;
  @extend %btn-hover-active;
}

@media screen and (max-width: 1025px){
  .button_container {
    font-size: 1.2rem;
    margin: 2rem auto .5rem auto;
    @include no-hover-no-active;
  }
}