$color-main: #004a87;
@mixin shadow {
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.7);
}

@mixin no-hover-no-active {
  &:hover {
    transform: none;
    box-shadow: none;
  }
  &:active {
    transform: none;
    box-shadow: none;
  }
}

%btn-hover-active {
  transition: all .25s;
  &:hover {
    transform: translate(-.2rem, -.2rem);
    box-shadow: .5rem .5rem 1.5rem rgb(49, 47, 47);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

%rectangle-btn-placeholder {
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
  width: 12rem;
  margin: 2rem .5rem 1rem .5rem;
  text-decoration: none;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  transition: all .25s;
  &:hover {
    transform: translate(-.2rem, -.2rem);
    box-shadow: .5rem .5rem 1.5rem rgb(49, 47, 47);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

%card_container {
  box-sizing: border-box;
  @include shadow;
  border-radius: 5px;
  border: 5px black;
  max-width: 75%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
}

%grid_container {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}