* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html {
  background-image: url("images/headerBackground.jpg");
  text-align: center;
  max-width: 1980px;
  margin: auto;
}

.App {
  position: relative;
  min-height: 100vh;
}

.content_wrap {
  padding-bottom: 17rem;
}

.associations {
  margin: 1rem 3rem 1rem 3rem;
  padding-bottom: 1.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 20rem 20rem;
  width: min-content;
  & .associations_header {
    font-size: 4rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  & .associations_list_header {
    font-size: 3rem;
    text-decoration: underline;
  }
  & ul {
    list-style-type: none;
  }
  & li {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1025px){
  .content_wrap {
    padding-bottom: 14rem;
  }

  .associations {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    & .associations_header {
      font-size: 3rem;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & .associations_list_header {
      font-size: 2rem;
      text-decoration: underline;
    }
    & ul {
      list-style-type: none;
    }
    & li {
      font-size: 1.5rem;
    }
  }
}